@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');


body {
    background-color: #ffffff;
    font-family: "Rubik", sans-serif;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    padding: 14px 10px
}

select {
    text-decoration: none;
    font-size: 20px;

    padding: 14px 10px
}

th {
    font-size: 17px;

    background: rgb(27, 235, 155);
    color: #000000;
}

td {
    background: rgb(253, 253, 253);
    color: #000000;
    font-size: 17px;

}

form {
    padding: 14px 10px
}

ul {
    padding: 14px;
}

li {
    list-style: none;
    display: inline-flex;
}

li a {
    background: rgb(27, 235, 155);
}

li a:hover {
    background: rgb(34, 179, 123);
    color: #fff;
}

.nav {
    background: rgb(27, 235, 155);
    height: 90px;
    text-align: left;
    width: 100%;
    display: flex;
}

.logout {
    border: none;
    font-size: 20px;
    background: rgb(27, 235, 155);
    color: rgb(0, 0, 0);
}

table {
    text-align: center;
    margin-top: 50px;
}

.masakan table {
    background: rgb(253, 253, 253);
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    text-align: left;

}

select {
    margin-top: 30px;
    background-color: white;
    border: thin solid rgb(14, 214, 47);
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

}

input[type=submit] {
    background-color: rgb(27, 235, 155);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: sans-serif;
}

legend {
    font-family: sans-serif;
    font-size: 17px;
}

button[type=submit] {
    background-color: rgb(27, 235, 155);
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    font-size: 17px;
    cursor: pointer;
}

input[type=text] {
    border: thin solid rgb(14, 214, 47);
}

input[type=number] {
    border: thin solid rgb(14, 214, 47);
    font-family: "Rubik", sans-serif;
}

fieldset {
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 50%;
}

/* arrows */